<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.lifewin">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".LifeWinApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.CompletedTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".cropper.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
